{% extends 'paper_a4.twig' %}

{% block content %}

<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<br>

<table cellspacing='0' width='100%'> <!-- cellspacing='0' is important, must stay -->
    <thead>
    <tr>
        <th>Uraian</th>
        <th>+ (jam)</th>
        <th>+ (org)</th>
        <th>- (jam)</th>
        <th>- (org)</th>
    </tr>
    </thead>
    <tbody>
{% for d in data %}
    <tr {% if loop.index0 is even %}class='even'{% endif %}>
        <td>{{d.nama}}</td>
        <td align='right'>{{d.lebih_jam|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.lebih_org|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.kurang_jam|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.kurang_org|number_format(0, ',', '.')}}</td>
    </tr>
{% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Next Page</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        {% if purpose == 'formasi' %}<th>&nbsp;</th>{% endif %}
    </tr>
    </tfoot>

</table>
<p>
    <i>
Dicetak dari Aplikasi SIM Rasio pada tanggal {{ "now"|date("d/m/Y") }} pukul {{ "now"|date("H:i") }}.
    </i>
</p>


{% endblock %}
