{% extends 'paper_a4.twig' %}

{% block content %}

<h1>{{title}}</h1>
<h2>{{subtitle}}</h2>
<br>
<!-- Barakatak. Halo {{nama}} {{nama_blk}} !! -->

<table cellspacing='0' width='100%'> <!-- cellspacing='0' is important, must stay -->
    <thead>
    <tr>
        {% for h in headers %}<th>{{h}}</th>{% endfor %}
    </tr>
    </thead>
    <tbody>
{% for d in data %}
{% if loop.last %}
    </tbody>
    <tfoot>
    <tr>
        <th>{{d.nama_rincian}}</th>
{% if purpose == 'formasi' %}
        <th align='right'>{{d.jumlah_kebutuhan|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.jumlah_ptk_pns_s1_ada_utk_matpel|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_pns_nons1_ada_utk_matpel|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_honorer_s1_ada_utk_matpel|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_honorer_nons1_ada_utk_matpel|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_nonpns_s1_ada_utk_matpel|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_nonpns_nons1_ada_utk_matpel|number_format(0, ',', '.')}}</th>
{% elseif purpose == 'sertifikasi' %}
        <th align='right'>{{d.jumlah_kebutuhan|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.jumlah_ptk_pns_s1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_pns_nons1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_honorer_s1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_honorer_nons1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_nonpns_s1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</th>
        <th align='right'>{{d.jumlah_ptk_nonpns_nons1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</th>
{% else %}
        <th align='right'>{{d.jml_siswarbl_total|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.jumlah_gurubk_minimal|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.jumlah_gurubk_maksimal|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.jumlah_gurubk|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.kelebihan_guru|number_format(0, ',', '.') }}</th>
        <th align='right'>{{d.kekurangan_guru|number_format(0, ',', '.') }}</th>  
{% endif %}
    </tr>
    </tfoot>
{% else %}
    <tr {% if loop.index0 is even %}class='even'{% endif %}>
        <td>{{d.nama_rincian}}</td>
{% if purpose == 'formasi' %}
        <td align='right'>{{d.jumlah_kebutuhan|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.jumlah_ptk_pns_s1_ada_utk_matpel|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_pns_nons1_ada_utk_matpel|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_honorer_s1_ada_utk_matpel|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_honorer_nons1_ada_utk_matpel|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_nonpns_s1_ada_utk_matpel|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_nonpns_nons1_ada_utk_matpel|number_format(0, ',', '.')}}</td>
{% elseif purpose == 'sertifikasi' %}
        <td align='right'>{{d.jumlah_kebutuhan|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.jumlah_ptk_pns_s1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_pns_nons1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_honorer_s1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_honorer_nons1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_nonpns_s1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</td>
        <td align='right'>{{d.jumlah_ptk_nonpns_nons1_ada_utk_matpel_sert|number_format(0, ',', '.')}}</td>
{% else %}
        <td align='right'>{{d.jml_siswarbl_total|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.jumlah_gurubk_minimal|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.jumlah_gurubk_maksimal|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.jumlah_gurubk|number_format(0, ',', '.') }}</td>
{% if d.kelebihan_guru == 0 and d.kekurangan_guru == 0 %}        
        <td align='right'>(pas)</td>
        <td align='right'>(pas)</th>  
{% else %}
        <td align='right'>{{d.kelebihan_guru|number_format(0, ',', '.') }}</td>
        <td align='right'>{{d.kekurangan_guru|number_format(0, ',', '.') }}</th>  
{% endif %}
{% endif %}        
    </tr>
{% endif %}
{% endfor %}
</table>
<p>
    <i>
Dicetak dari Aplikasi SIM Rasio pada tanggal {{ "now"|date("d/m/Y") }} pukul {{ "now"|date("H:i") }}.
    </i>
</p>


{% endblock %}
