@font-face {
  font-family: 'font-awesome';
  src: url("fonts/font-awesome/fontawesome-webfont.eot");
  src: url("fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("fonts/font-awesome/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'font-fileformats-icons';
  src: url("fonts/font-fileformats-icons/flaticon.eot") format("embedded-opentype"), url("fonts/font-fileformats-icons/flaticon.woff") format("woff"), url("fonts/font-fileformats-icons/flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'font-computer-and-media';
  src: url("fonts/font-computer-and-media/flaticon.eot") format("embedded-opentype"), url("fonts/font-computer-and-media/flaticon.woff") format("woff"), url("fonts/font-computer-and-media/flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'font-education';
  src: url("fonts/font-education/flaticon.eot") format("embedded-opentype"), url("fonts/font-education/flaticon.woff") format("woff"), url("fonts/font-education/flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
  font-family: 'font-icomoon';
  src: url("fonts/font-icomoon/flaticon.eot") format("embedded-opentype"), url("fonts/font-icomoon/flaticon.woff") format("woff"), url("fonts/font-icomoon/flaticon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}
@font-face {
    font-family: 'franklin';
    src: url('fonts/Fradm.ttf');
}

.accordion-shortcut {
  background-image: url(images/im48x48.png);
}

.cpu-shortcut {
  background-image: url(images/statusLarge.png);
}

.grid-shortcut {
  background-image: url(images/grid48x48.png);
}

.notepad-shortcut {
  background-image: url(images/notepadLarge.png);
  width: 46px;
  height: 46px;
}

.x-ie6 .accordion-shortcut {
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/im48x48.png', sizingMethod='scale');
}

.x-ie6 .cpu-shortcut {
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/statusLarge.png', sizingMethod='scale');
}

.x-ie6 .grid-shortcut {
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/grid48x48.png', sizingMethod='scale');
}

.x-ie6 .notepad-shortcut {
  background-image: none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/notepadLarge.png', sizingMethod='scale');
}

.video {
  background-image: url(images/gears.gif);
}

.bogus {
  background-image: url( images/bogus.png ) !important;
}

.notepad {
  background-image: url( images/bogus.png ) !important;
}

.logout {
  background-image: url( images/logout.gif ) !important;
}

.settings {
  background-image: url( images/gears.gif ) !important;
}


.icon-grid {
  background-image:url(images/grid.png ) !important;
}
.add {
  background-image:url(icons/add.gif) !important;
}
.option {
  background-image:url(icons/plugin.gif) !important;
}
.remove {
  background-image:url(icons/delete.gif) !important;
}
.save {
  background-image:url(icons/save.gif) !important;
}
.accordion {
  background-image:url(images/accordian.gif) !important;
}
.tabs {
  background-image:url(images/tabs.gif) !important;
}

/*----------------------------------------------------
    IM window icons
*/

.user {
  background-image:url(icons/user.gif ) !important;
}

.user-add {
  background-image:url(icons/user_add.gif) !important;
}

.user-delete {
  background-image:url(icons/user_delete.gif) !important;
}

.connect {
  background-image:url(icons/connect.gif) !important;
}

.user-girl {
  background-image:url(icons/user_female.gif) !important;
}

.user-kid {
  background-image:url(icons/user_green.gif) !important;
}

.user-suit {
  background-image:url(icons/user_suit.gif) !important;
}
