<html>
<head>
<title>{{apptitle}}</title>
<script type="text/javascript" src="extjs5/build/ext-all.js"></script>
<link href='extjs5/build/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css' rel='stylesheet' type='text/css'>
<link href='resources/fonts/raleway-light.css' rel='stylesheet' type='text/css'>    

<style>
body {
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#484848;
    background-size:16px 16px;
}
</style>
<script>

Ext.Loader.setPath('SimptkRasio', 'app');
Ext.require('SimptkRasio.view.components.WindowLogin');

Ext.onReady(function() {
    
    Ext.create('Ext.container.Viewport', {
        xtype: 'panel',
        padding: '200 0 0 200',
        style: 
            'background:' +
            'radial-gradient(rgba(0,0,0,.3) 15%, transparent 16%) 0 0,' +
            'radial-gradient(rgba(0,0,0,.3) 15%, transparent 16%) 8px 8px,' +
            'radial-gradient(rgba(255,255,255,.3) 15%, transparent 20%) 0 1px,' +
            'radial-gradient(rgba(255,255,255,.3) 15%, transparent 20%) 8px 9px;' +
            'background-color:#B8B8B8;' +
            'background-size:16px 16px;'
    });

    Ext.create('SimptkRasio.view.components.WindowLogin', {
        url: "{{ path('admin_login_check') }}"
    }).show();
    
});

// Ext.application({

//     name: 'SimptkRasio', //name this as you like
//     autoCreateViewport: false, //set as true - it will seach for the Viewport.js file automatically
    
//     launch:function(){
//         Ext.create('SimptkRasio.view.components.WindowLogin').show();
//     }

// });

 //    Ext.onReady(function() {
	    
 //        Ext.ns('SimptkRasio');
 //        Ext.Loader.setPath('SimptkRasio', 'app');
 //        Ext.require([ 
 //            'SimptkRasio.view.components.*'
 //        ]);

 //        var win = new SimptkRasio.view.components.WindowLogin();
 //        win.show();
	// });
</script>
</head>
<body>

</body>
</html>